body {
    background-color: #F7EDCA;
}
header {
    display: grid;
    grid-template-areas:
            "burgermenu logo login";
    grid-template-columns: 1fr 1fr 1fr;;
    height: auto;
    justify-content: center;
    align-items: center;

}
#burgermenu {
    grid-area: burgermenu;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

#logo {
    grid-area: logo;
    justify-self: center;

}

#login {
    grid-area: login;
    cursor: pointer;
    justify-content: right;
    align-items: center;
    justify-self: right;
}

.off-screen-login {
    background-color: rgb(0,56,167,0.7);;
    border:  rgb(34, 37, 49);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    height: 65vh;
    width: 100%;
    max-width: 375px;
    position: fixed;
    top: 0;
    right: -450px;
    margin-left: 25px;
    margin-top: 170px;
    margin-bottom: 500px;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    transition: .3s ease;
    line-height: 120px;
    z-index: 100;
}

.off-screen-login-active{
    right: 0;
} 

.off-screen-menu {
    background-color: rgb(0,56,167,0.7);;
    border:  rgb(34, 37, 49);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    height: 65vh;
    width: 100%;
    max-width: 375px;
    position: fixed;
    top: 0;
    left: -900px;
    margin-left: 25px;
    margin-top: 170px;
    margin-bottom: 500px;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    transition: .3s ease;
    line-height: 120px;
    z-index: 100;
}

.menu-text-style{
    text-decoration: none;
    color: #F7EDCA;
    text-align: left;
    margin-left: 10px;


}

.off-screen-menu-active{
    left: 0;
}

nav {
    padding: 1rem;
    display: flex;
}

#menu-style {
    color: #F7EDCA;
}


#forsideTekst{
    top: 30px;
    color: #000;
    text-align: center;
    font-family: "Inria Serif", serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.kort {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


/* ********* Landkort ********  */

 .map-wrap {
     width: min(600px, 95vw);
     
 }

.bornholm-map {
    width: 100%;
    height: auto; /* bevarer proportioner */
    display: block;
}


.marker {
    fill: transparent;
    stroke: #e53935;
    stroke-width: 6;
    cursor: pointer;
    vector-effect: non-scaling-stroke; /* stregen bliver pæn ved zoom */
}


.marker-campus {
    fill: #e53935;
    stroke: #e53935;
    stroke-width: 6;
    cursor: pointer;
    vector-effect: non-scaling-stroke;
}


.marker:hover {
    fill: #a61f1d;

}

footer {
    border: #0038A7;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #0038A7;
    opacity: 70%;
    color: white;
    z-index: 50;
}



